terraform-provider-artifactory
dist/
vendor/
.idea/
.github/
.modules/
.terraform*
terraform.d/
terraform.tfstate
terraform.tfstate.backup
lib/
*.lic
/resources/
.DS_Store
*.crt
*.backup
coverage.txt
.scannerwork
*.code-workspace
